/* Navbar */

.logo
{
  max-width: 250px;
  max-height: 100px;
}

.nav-btn
{
  border-radius: 3px;
}

.nav-btn:hover
{
  background-color: whitesmoke;
}

.border
{
  max-width: 100px;
  border-radius: 7px;
}

.vertical-divider
{
  border-left: 3px solid lightgrey;
  height: 20rem;
  position:absolute;
  left: 50%;
  float: right;
}

.nav-text
{
  font-size: 17px;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.first-body
{
  padding-left: 13rem;
}

.creator-name
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
  margin-top: 3rem;
}

.intro-text
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.first-description
{
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.first-body-img
{
  float: right;
  padding-top: 5rem;
}

.intro-img
{
  padding-right: 13rem;
  padding-bottom: 2rem
}

.info-btn
{
  min-width: 64px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #feeb75;
}

.description
{
  margin-top: 6rem;
  padding-top: 6rem;
  background-color: seashell;
  width: 100%;
  padding-bottom: 100px;
}

.description-whole
{
  text-align: center;
}

.description-header
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
}

.description-creator-name
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.description-tag
{
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.health-policy-img
{
  float: left;
  width: 300px;
}

.health-policy
{
  margin: auto;
  width: 75%;
  padding: 3rem;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 1px 1px 5px 5px lightgrey;
}

.buy-health-insurance
{
  padding-top: 100px;
  padding-bottom: 100px;
  margin: auto;
  width: 75%;
  height: 400px;
  text-align: center;
  background-color: #faffc1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 1px 1px 5px 5px #e2e2e2;
}

.helpline
{
  padding-top: 100px;
  margin: auto;
  width: 75%;
  height: 300px;
  text-align: center;
  background-color: #e9e9e9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 1px 1px 5px 5px #e2e2e2;
}

.footer-logo
{
  display: block;
  float: left;
  margin-right: auto;
  padding: 30px 10px 10px 30px;
}

.footer-logo-text
{
  display: block;
  margin-top: 10px;
  padding-top: 135px;
  font-size: 20px;
  margin-left: 250px;
  margin-right: 40px;
  padding-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
}

.policy
{
  margin: auto;
  width: 75%;
  padding: 3rem;
  background-color: inherit;
  text-align: center;
  border-radius: 10px;
  box-shadow: 1px 1px 5px 5px lightgrey;
}

.btn-footer
{
  display: block;
  max-width: 100px;
  margin-top: 20px;
  background-color: #f2f2f2;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn-footer:hover
{
  background-color: #e4e4e4;
}

.btn-footer-2
{
  display: block;
  max-width: 135px;
  margin-top: 10px;
  background-color: #f2f2f2;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}

.btn-footer-2:hover
{
  background-color: #e4e4e4;
}

.last
{
  color: darkgrey;
}
