/* Navbar */

.logo
{
  max-width: 250px;
  max-height: 100px;
}

.nav-btn
{
  border-radius: 3px;
}

.nav-btn:hover
{
  background-color: whitesmoke;
}

.border
{
  max-width: 100px;
  border-radius: 7px;
}

.vertical-divider
{
  border-left: 3px solid lightgrey;
  height: 20rem;
  position:absolute;
  left: 50%;
  float: right;
}

.nav-text
{
  font-size: 17px;
  color: black !important;
  font-family: 'Montserrat', sans-serif;
}

.first-body
{
  padding-left: 13rem;
}

.creator-name
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
  margin-top: 3rem;
}

.intro-text
{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.first-description
{
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.first-body-img
{
  float: right;
  padding-top: 5rem;
}

.intro-img
{
  padding-right: 13rem;
  padding-bottom: 2rem
}

.info-btn
{
  min-width: 64px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  background-color: #1DC9FF;
}

.description
{
  margin-top: 6rem;
  padding-top: 6rem;
  background-color: seashell;
  width: 100%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  padding-bottom: 10px;
}

.description-whole
{
  text-align: center;
}

.description-header
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  color: #ffd700;
}

.description-creator-name
{
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.description-tag
{
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.health-policy-img
{
  float: left;
  width: 300px;
}

.health-policy
{
  margin: auto;
  width: 75%;
  padding: 3rem;
  border-radius: 10px;
  background-color: white;
  box-shadow: 1px 1px 5px 5px lightgrey;
}

.color-blank-blah-noope
{
 padding-top: 5px;
 background-color: seashell;
 height: 125px;
 width: 100%;
 border-bottom-left-radius: 100px;
 border-bottom-right-radius: 100px;
}

.buy-health-insurance
{
  padding-top: 100px;
  float: left;
  width: 100%;
  height: 400px;
  text-align: center;
  background-color: darkgrey;
}

.helpline
{
  padding-top: 100px;
  float: left;
  width: 100%;
  height: 300px;
  text-align: center;
  background-color: #99FFFF;
}

.footer-dark {
  padding:50px 0;
  color:#f0f9ff;
  background-color:#282d32;
}

.footer-dark h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-dark ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-dark ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.6;
}

.footer-dark ul a:hover {
  opacity:0.8;
}

@media (max-width:767px) {
  .footer-dark .item:not(.social) {
    text-align:center;
    padding-bottom:20px;
  }
}

.footer-dark .item.text {
  margin-bottom:36px;
}

@media (max-width:767px) {
  .footer-dark .item.text {
    margin-bottom:0;
  }
}

.footer-dark .item.text p {
  opacity:0.6;
  margin-bottom:0;
}

.footer-dark .item.social {
  text-align:center;
}

@media (max-width:991px) {
  .footer-dark .item.social {
    text-align:center;
    margin-top:20px;
  }
}

.footer-dark .item.social > a {
  font-size:20px;
  width:36px;
  height:36px;
  line-height:36px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  box-shadow:0 0 0 1px rgba(255,255,255,0.4);
  margin:0 8px;
  color:#fff;
  opacity:0.75;
}

.footer-dark .item.social > a:hover {
  opacity:0.9;
}

.footer-dark .copyright {
  text-align:center;
  padding-top:24px;
  opacity:0.3;
  font-size:13px;
  margin-bottom:0;
}

.context-dark, .bg-gray-dark, .bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a, .footer-classic a:focus, .footer-classic a:active {
    color: #ffffff;
}
.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
}
.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}
